body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1{
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}
hr {
  margin: 20px auto;
  color: #faa7ac;
  border: 3px solid #faa7ac;
  max-width: 65px;
  opacity: 1;  

}

.buffer{
  height: 14rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-primary{
  background-color: #faa7ac;
  border-color: #faa7ac;
  --bs-btn-hover-bg: #f87982;	
    --bs-btn-hover-border-color: #f87982;
}
.btn-primary:hover{
  background-color: #f87982;
  border-color: #f87982;
  border-width: 4px;
}
.btn-xl{
  padding: 1rem 2rem;
}

